<!DOCTYPE>
<html>
	<head>
		<title>魅客云-注册</title>
		<meta http-equiv="Content-Type" content="IE=edge,chrome=1" charset="utf-8" />
		<meta name="keywords" content="魅客云,手工教程,手工皮革,手工定制,个性体验,时尚生活"/>
		<meta name="description" content="交流分享有关手工的各种图片教程,定制手工饰品,手工服饰,手工皮革等手工制品"/>
		<link rel="shortcut icon" type="image/x-icon" href="../public/images/logo.ico"/>
		<link href="../public/css/core.css" rel="stylesheet"/>
		<script src="../public/js/jquery.min.js"></script>
		<script src="../public/js/functions.js"></script>
		<script src="js/register.js"></script>
		<style>
		.box{
			margin:0 auto;
			height:500px;width:500px;
			border:1px solid black;
		}
		</style>
	</head>
	<body>
		<form id="useRegisterForm" name="useRegisterForm" method="post" action="http://biejujiangxin.cn/web/user/register">
			<div class="box">
			<input type='hidden' name='_csrf' value=""/>
			电话号<input name="phone" type="text" /><br/>
			密码<input name="password" type="text" /><br/>
			<div onclick="useRegisterSub()" style="border:1px solid black;">注册</div>
			</div>
			<input type="submit"/>
		</form>
	</body>
</html>