<!DOCTYPE>
<html>
	<head>
		<meta http-equiv="Content-Type" content="IE=edge,chrome=1" charset="utf-8" />
		<meta name="keywords" content="魅客云,手工教程,手工皮革,手工定制,个性体验,时尚生活">
		<meta name="description" content="交流分享有关手工的各种图片教程,定制手工饰品,手工服饰,手工皮革等手工制品">
		<link rel="shortcut icon" type="image/x-icon" href="../public/images/logo.ico"/>
		<link href="../public/css/core.css" rel="stylesheet">
		<link href="css/index.css" rel="stylesheet">
	</head>
	<body>
		<div class="background">
			<img src="images/1.jpg"/>
		</div>
		<header>
			<nav class="pub_wid">
				<ul>
					<div class="menu_logoDiv">
						<a href="#">
							<img src="../public/images/logo64x64.png" />
							<div class="logo_sub">魅客云</div>
						</a>
					</div>
					<li class="menu">
						<a href="#">首页</a>
						<ul>
							<li>作品TOP</li>
							<li>魅客TOP</li>
							<li>教程TOP</li>
						</ul>
					</li>
					<li class="menu">
						<a href="#">所有作品</a>
						<ul>
							<li>浏览全部</li>
							<li>产品展示2</li>
							<li>产品展示3</li>
						</ul>
					</li>
					<li class="menu">
						<a href="#">所有魅客</a>
						<ul>
							<li>产品展示1</li>
							<li>产品展示2</li>
							<li>产品展示3</li>
						</ul>
					</li>
					<li class="menu">
						<a href="#">所有材料</a>
						<ul>
							<li>产品展示1</li>
							<li>产品展示2</li>
							<li>产品展示3</li>
						</ul>
					</li>
					<li class="menu">
						<a href="#">所有工具</a>
						<ul>
							<li>产品展示1</li>
							<li>产品展示2</li>
							<li>产品展示3</li>
						</ul>
					</li>
					<div class="user">
						<li class="menu">
							<a href="#">登录</a>
						</li>
						<li class="menu">
							<a href="#">注册</a>
						</li>
					</div>
				</ul>
			</nav>
		</header>
	</body>
</html>